html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(14px, 2vw, 20px);
}

.header {
  width: 100vw;
  height: fit-content;
  background-color: #2d4ed1;
  margin-bottom: 2em;
}

.a {
  color: #d9d9d9;
  text-decoration: none;
  transition: all 0.3s;
}

.a:hover{
  color: #fda33c;
  transform: scale(1.12);
  text-decoration: underline;
}

.nav {
  display: flex;
  width: 100vw;
  height: fit-content;
  background-color: #2d4ed1;
  flex-wrap: nowrap;
}

.nav-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.logo-container {
  min-width: 2em;
  max-width: 9em;
  display: flex;
  align-items: center;
}

.logo {
  min-width: 2em;
  min-height: 4em;
  max-width: 9em;
  max-height: 9em;
  border-radius: 100%;
  padding: 6px;
}

.title-div {
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: none;
  flex-grow: 0;
}

.title {
  font-size: clamp(24px, 5vw, 60px);
  color: #180e00;
}

.nav-ul {
  justify-content: center;
  align-items: center;
}

.li {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #d9d9d9;
}

.main {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.main-div {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  flex-basis: auto;
  height: 15rem;
  width: 14rem;
  margin: 1rem;
}

.videoContainer{
  width: 100vw;
  margin-bottom: 12em;
}

.main-div-divImg {
  height: fit-content;
  max-width: fit-content;
}

.Img {
  object-fit: fill;
  height: 8.8rem;
  max-width: 8.9rem;
}

.main-div {
  display: flex;

  align-items: center;
  width: 100vw;
  height: fit-content;
}

.main-div-Especs {
  display: flex;
  margin: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 1em;
  margin-right: 1em;
  box-shadow: 0 1em 1.5em #424141;
  border: solid #424141 ;
  width: 13em;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  margin-top: 12em;
  justify-content: center;
}

.mapMsg {
  margin-top: 3em;
  min-width: 9em;
  max-width: 19em;
}

.map2 {
  margin-top: 3em;
}

.footer {
  display: flex;
  width: 100vw;
  height: 10em;
  background-color: #2d4ed1;
  flex-wrap: nowrap;
  margin-top: 2em;
}

.footer-container {
  display: flex;
  width: 100vw;
  height: 10em;
  align-items: center;
}

.footerMsg {
  padding-left: 1em;
  color: #180e00;
}

.contactUs {
  display: flex;
  margin-left: 2em;
}

.ig {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 0.3s;
}

.igIcon {
  width: 3em;
  height: 3em;
}

.igUrl {
  margin-left: 1em;
}