* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", ;
}

.header {
  width: 100vw;
  background-color: #d9d9d9;
}

.nav {
  display: flex;
  width: 100vw;
  height: 10em;
  background-color: #d9d9d9;
  flex-wrap: nowrap;
}

.nav-div {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.logo-container {
  align-items: center;
}

.logo {
  min-width: 4em;
  min-height: 4em;
  max-width: 9em;
  max-height: 9em;
}

.title-div {
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  text-align: center;
}

.title {
  font-size: 2em;
}

body {
  background-color: rgb(255, 203, 134);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.main-div {
  min-width: 5em;
  max-width: 35em;
  flex-grow: 1;
  margin: 1em 0 1em 4em;
  font-size: 1em;
  text-align: justify;
  border: solid red;
}

.main-div-h1 {
  font-size: 1.5em;
  text-align: center;
}