html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", ;
}

.header {
  width: 100vw;
  background-color: #d9d9d9;
}

.nav {
  display: flex;
  width: 100vw;
  height: 10em;
  background-color: #d9d9d9;
  flex-wrap: nowrap;
  margin-bottom: 2em;
}

.nav-div {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  min-width: 2em;
  min-height: 4em;
  max-width: 9em;
  max-height: 9em;
}

.title-div {
  width: 100vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 1.6em;
}

body {
  background-color: #2d4ed1;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.main-div {
  min-width: 8em;
  max-width: 35em;
  min-height: 16em;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 1em;
  font-size: 1em;
  text-align: justify;
  border: solid #2d4ed1;
  background-color: #4f6ff3;
  box-shadow: 0 1em 1.5em #0b2ab0;
  border-radius: 23%;
}

p {
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.main-div-h1 {
  padding-top: 1em;
  font-size: 1.5em;
  text-align: center;
}